<header class="navbar-fixed-top" style="top:40px;z-index:50;">
  <div class="navbar-inner" style="background-color:#fff;background-image:none;-webkit-box-shadow:none;border:none;padding:1px;padding-top:5px;">
      <%= form_tag(new_schedule_path, class: "form-inline", :style => "display:inline", method: :get) do %>
	<div class="input-append input-prepend" style="margin-left:5px">
		<button class="btn btn-success btn-large" name="go" type="submit">
  	<i class="icon-play icon-white"></i>
	</button>
<%= text_field_tag :name, "", data: {autocomplete_source: autocomplete_projects_path}, placeholder: "Project", class: "autocomplete input-medium", :style => "display:inline;margin:0;padding:11px;z-index:100;width:160px" %>
  <span class="add-on" id="hours" style="padding:11px;"><%= (Project.total_time(current_user)/3600).round(2) %></span>
<% end %>
<% if !Schedule.active_project(current_user).blank? %>
		<%= form_tag(new_schedule_path, class: "form-inline", :style => "display:inline", method: :get) do %>
			<%= hidden_field_tag :name, Schedule.active_project(current_user).name  %>
			<button class="btn btn-danger btn-large" id="running" name="stop" type="submit">
				<i class="icon-pause icon-white"></i>
			</button>
		<% end %>
	<% end %>
	  </div>
  </div>
</header>
<div style="position:relative;left:0;right:0;top:39px;">
<% Project.all.sort_by(&:name).each do |project| %>
	<% if project.features.find_by_user_id(current_user) && project.features.find_by_user_id(current_user).featured %>
			<% if project.active?(current_user) %>
			<div style="padding:5px;float:left;text-align:center;width:112px;margin:5px" class="btn btn-primary">
			<% else %>
			<div style="padding:5px;float:left;text-align:center;width:112px;margin:5px" class="btn">
			<% end %>
			<%= form_tag(new_schedule_path, class: "form-inline", :style => "display:inline", method: :get) do %>
			<%= link_to project.name, project_path(project), title: project.name, rel: "tooltip", style:"color:#fff;vertical-align:middle;margin-bottom:5px;float:left;height:40px;width:85px;overflow:hidden;text-overflow:ellipsis;", class: "btn btn-inverse" %>
				<%= hidden_field_tag :name, project.name  %>
				<% if project.active?(current_user)  %>
					<button class="btn btn-danger btn-large" name="stop" type="submit">
						<i class="icon-pause icon-white"></i>
					</button>
				<% else %>
					<button class="btn btn-success btn-large" name="go" type="submit">
						<i class="icon-play icon-white"></i>
					</button>
				<% end %>	
				<button class="btn btn-warning btn-large" name="del" type="submit">
						<i class="icon-star icon-white"></i>
				</button>
	<% end %>
	</div>
<% end %>
<% end %>
</div>
<script>
$(function() {
	 $( ".autocomplete" ).autocomplete({
			source: $( "#name" ).data('autocomplete-source')
	});
});
</script>
<script>
	if ($("#running").length > 0) {
  	var i = parseFloat('<%= Project.total_time(current_user) %>');
  	var timer = setInterval(function() { $('#hours').text( Math.round(i++/36)/100 ) }, 1000)
  }
</script>

