<% provide(:title, "Sign in") %>
<div style="width:300px;margin:10px">Time saver is a simple app that allows you to track your time spent on various projects</div>
<style> .btn-social {width:300px;display:block;margin:10px;text-align:left;}</style>
<%= link_to omniauth_authorize_path(resource_name, "facebook"), class: "btn btn-block btn-social btn-lg btn-facebook" do %>
  <i class="fa fa-facebook"></i> | Log in with Facebook
  <% end %>
  <%= link_to omniauth_authorize_path(resource_name, "twitter"), class: "btn btn-social btn-lg btn-twitter" do %>
  <i class="fa fa-twitter"></i> | Log in with Twitter
  <% end %>
  <%= link_to omniauth_authorize_path(resource_name, "google_oauth2"), class: "btn btn-social btn-lg btn-google-plus" do %>
  <i class="fa fa-google-plus"></i> | Log in with Google Plus
  <% end %>
  
  <a class="btn btn-social btn-lg btn-linkedin" data-toggle="modal" data-target="#modalLogin" id="login_button"><i class="fa fa-envelope-o"></i> | Log in with Email</a>
  
  <p style="margin:10px">New to Time Saver? <a href="#" data-toggle="modal" data-target="#modalSignUp" id="signup_button">Sign up!</a>

<div class="modal" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Sign in</h4>
			</div>
			<div class="modal-body" style="text-align:center">
				<%= form_for(:session, url: sessions_path, class: "form-horizontal") do |f| %>
					<div class="form-group">
						<%= f.label :email %>
						<%= f.text_field :email, class: "form-control input-lg", placeholder: "Enter email" %>
					</div>
					<div class="form-group">
						<%= f.label :password %>
						<%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %>
					</div>
					<% if devise_mapping.rememberable? %>
						<div class="form-group"><%= f.check_box :remember_me, {checked: true} %> <%= f.label :remember_me %></div>
					<% end %>
					<div class="form-group">
						<%= f.submit "Sign in", class: "btn btn-lg btn-default" %>
					</div>
				<% end %>
				<p style="margin:5px">Or if you're a new user,  <a href="#" id="sign-up-link">Sign up now!</a></p>
				<div id="sign-up-form">
					<%= form_for(User.new) do |f| %>
						<div class="form-group">
							<%= f.label :name %>
							<%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
						</div>
						<div class="form-group">
							<%= f.label :email %>
							<%= f.text_field :email, class: "form-control", placeholder: "Enter email" %>
						</div>
						<div class="form-group">
							<%= f.label :time_zone %>
							<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, class: "form-control", placeholder: "Enter email" %>
						</div>
						<div class="form-group">
							<%= f.label :password %>
							<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
						</div>
						<div class="form-group">
							<%= f.label :password_confirmation, "Confirmation" %>
							<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
						</div>
						<div class="form-group">
							<%= f.submit "Create my account", class: "btn btn-lg btn-default" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Sign Up</h4>
			</div>
			<div class="modal-body" style="text-align:center">
				<%= form_for(User.new) do |f| %>
					<div class="form-group">
						<%= f.label :name %>
						<%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
					</div>
					<div class="form-group">
						<%= f.label :email %>
						<%= f.text_field :email, class: "form-control", placeholder: "Enter email" %>
					</div>
					<div class="form-group">
						<%= f.label :time_zone %>
						<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, class: "form-control", placeholder: "Enter email" %>
					</div>
					<div class="form-group">
						<%= f.label :password %>
						<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
					</div>
					<div class="form-group">
						<%= f.label :password_confirmation, "Confirmation" %>
						<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
					</div>
					<div class="form-group">
						<%= f.submit "Create my account", class: "btn btn-lg btn-default" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
