<% provide(:title, @user.name) %>
<center><h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<% if current_user == @user || current_user.admin %>
<table class="user_info">
<tr>
<td class="user_info_half">
<%= render 'shared/span_form', user: @user, start_date: @start_date, end_date: @end_date %>
<% total_project_time=0 %>
<% total_est_time=0 %>
<table class="table table-condensed">
<tr>
<td style="text-align:center">Project</td>
<td style="text-align:center">Hours Spent</td>
<td style="text-align:center">Modify</td>
</tr>
<% @projects.sort_by { |a| a.time_spent(@start_date,@end_date,@user) }.reverse.each do |project| %>
	<% total_time=project.time_spent(@start_date,@end_date,@user) %>
	<% est_time=((2*total_time/60/60).ceil)/2.0 %>
	<% total_project_time = total_project_time + total_time %>
	<% total_est_time = total_est_time + est_time %>
	<% if est_time > 0 %>
		<tr>
			<td style="text-align:left"><a href="#" data-toggle="modal" data-target="#modal<%= project.id %>"><%= project.name %></a>
			<%= render "static_pages/project_popup", project: project, start_date: @start_date, end_date: @end_date %></td>
			<td style="text-align:center"><%= est_time %></td>
			<td style="text-align:center"><%= link_to 'Edit', edit_project_path(project) %> | <%= link_to "delete", project, :method => :delete, :confirm => "You sure?",:title => "Delete #{project.name}" %></td>
		</tr>

	<% end %>
<% end %>
</table>
Total Estimated Hours Worked this period: <%= total_est_time %> <br>
Total Hours Worked this period: <%= ((2*total_project_time/60/60).ceil)/2.0 %> <br>
</td>
<td class="user_info_half">
<%= render 'pie_chart', projects:@projects, start_date: @start_date, end_date: @end_date %>
</td>
</tr>
</table>
<% end %>

