<h1>Edit Schedule</h1>
<p><%= link_to "Main", root_path %> | <%= link_to "View Calendar", calendar_schedules_path %> | <%= link_to "View Time Spent", projects_path %></p>
<div class="pagination">
     <%= will_paginate @schedules, :container => false %>
</div>
<table class="table-striped" style="text-align:center;vertical-align:center;">
<tr>
	<td>Project</td>
	<td>Start Time</td>
	<td>End Time</td>
	<td>Update</td>
	<td>Delete</td>
	<td></td>
</tr>
<% @schedules.each do |event| %>
<tr id="row_<%= event.id %>">
	<%= render "event", event: event %>
</tr>			
<% end %>
</table>
<div class="pagination">
     <%= will_paginate @offerings, :container => false %>
</div>
<%= link_to "Return to Main", root_path %>
<script>
$(function() {
	 $( ".autocomplete" ).autocomplete({
			source: $( "#<%= @schedules.first.id %>" ).data('autocomplete-source')
	});
});
</script>
