<h1><%= @project.name %></h1>
<p><%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to "delete", @project, :method => :delete, :confirm => "You sure?",:title => "Delete #{@project.name}" %></p>
Time Span:
<%= form_tag(projects_path, method: :get) do %>
	Start:<br> <%= select_date @start_date, {:prefix => 'start_date'}, {:class => "input-small"} %><br>
	Finish:<br> <%= select_date @end_date, {:prefix => 'end_date'}, {:class => "input-small"} %><br>
<%= submit_tag %>
<% end %>
<% total_time = 0 %>
<% @project.schedules.each do |s| %>
	<% start = s.start_at %>
	<% finish = s.end_at.blank? ? 5.hours.ago : s.end_at %>
	<% if (@start_date.to_datetime < finish && finish < (@end_date.to_datetime+1.day)) && (@start_date.to_datetime < start && start < (@end_date.to_datetime+1.day)) %>
	<% elsif (@start_date.to_datetime < finish && finish < (@end_date.to_datetime+1.day)) %>
		<% start = @start_date.to_datetime %>
	<% elsif (@start_date.to_datetime < start && start < (@end_date.to_datetime+1.day)) %>
		<% finish = @end_date.to_datetime+1.day %>
	<% else %>
		<% start = @start_date %>
		<% finish = @start_date %>
	<% end %>
	<% total_time = total_time + (finish - start) %>
<% end %>

Total Time Spent = <%= (total_time/60/60).round %> hours
