
<nav class="navbar navbar-default navbar-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" id="navbar_logo">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= root_path %>" class="navbar-brand">Time Saver</a>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
	<% if signed_in? %>
		<% if current_page?(root_path) %>
			<%= render "layouts/start_bar", remote:true %>
		<% else %>
			<%= render "layouts/start_bar", remote:false %>
		<% end %>
	<% end %>

      <ul class="nav navbar-nav navbar-right" id="navbar_links">

				<% if user_signed_in? %>
					<li><a href="#">Logged in as <strong><%= current_user.name %></strong></a></li>
					<li><%= link_to "Edit Schedule", schedules_path %></li>
					<li><%= link_to "Calendar", calendar_schedules_path %></li>
					<li><%= link_to "Time Spent", user_path(current_user) %></li>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Account <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						  <li><%= link_to "Projects", projects_path %></li>
						  <% if current_user.admin? %>
						  <li><%= link_to "Users", users_path %></li>
						  <% end %>
						  <li><a href="#" data-toggle="modal" data-target="#Settings">Settings</a></li>
						  <li><a href="#" data-toggle="modal" data-target="#Password">Update Password</a></li>
						  <!--<li><a href="#" data-toggle="modal" data-target="#Settings">Settings</a></li>-->
						  <li class="divider"></li>
						  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
						  <!--<li><%= link_to "Sign out", signout_path %></li>-->
					</ul></li>

				<% end %>
			</ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<% if user_signed_in? %>
<div class="modal fade" id="Settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="SettingsLabel">Settings</h4></div>
        
      

        <div class="modal-body" style="text-align:center">
        <%= form_for(current_user, role: 'form') do |f| %>

          <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, type: "name", class: "form-control" %></div>

          <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, type: "email", class: "form-control"  %></div>
          <div class="form-group">
                <%= f.label :time_zone %>
                <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, class: "form-control"  %></div>
                <% if f.object.encrypted_password.present? %>
          <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, type: "password", class: "form-control"  %></div>

          <div class="form-group">
                <%= f.label :password_confirmation, "Confirm Password" %>
                <%= f.password_field :password_confirmation, type: "password", class: "form-control"  %></div><% end %>

        </div>
        
      <div class="modal-footer">

      <%= f.submit "Save changes", class: "btn btn-default" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
    <% end %>
          


    </div>
  </div>
</div>

<div class="modal fade" id="Password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="SettingsLabel">Update Password</h4></div>
                <div class="modal-body" style="text-align:center">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<%= f.hidden_field :reset_password_token %>

<div class="form-group">
<%= f.label :password, "New password" %>
<%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %></div>

<div class="form-group">
<%= f.label :password_confirmation, "Confirm new password" %>
<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>
<div class="modal-footer">

<%= f.submit "Save changes", class: "btn btn-default" %>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
<% end %>
</div>
    </div>
  </div>
</div>
<% end %>
