<nav class="navbar navbar-default navbar-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= root_path %>" class="navbar-brand">Time Saver</a>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- Collect the nav links, forms, and other content for toggling -->
       <% if signed_in? %>
       <% if current_page?(root_path) %>
        <%= form_tag(new_schedule_path, class: "navbar-form navbar-left", method: :get, remote: true) do %>
          <div class="form-group">
			    <%= text_field_tag :name, "", data: {autocomplete_source: autocomplete_projects_path}, placeholder: "Project", class: "form-control autocomplete-project col-sm-5" %>
			    </div>
			    <button class="btn btn-default" name="go" type="submit" id="main-play">
				      <span class="glyphicon glyphicon-play"></span>
			    </button>
			    <span id="stopbutton">
	          <%= render "static_pages/stop_button" %>
          </span>
			   <% end %>
			   <% else %>
			   <%= form_tag(new_schedule_path, class: "navbar-form navbar-left", method: :get) do %>
          <div class="form-group">
			    <%= text_field_tag :name, "", data: {autocomplete_source: autocomplete_projects_path}, placeholder: "Project", class: "form-control autocomplete-project col-sm-5" %>
			    </div>
			    <button class="btn btn-default" name="go" type="submit" id="main-play">
				      <span class="glyphicon glyphicon-play"></span>
			    </button>
			    <span id="stopbutton">
	          <%= render "static_pages/stop_button" %>
          </span>
			   <% end %>
			   <% end %>
			    
        <% end %>

      <ul class="nav navbar-nav navbar-right">
				<% if signed_in? %>
					<li><%= link_to "Edit Schedule", schedules_path %></li>
					<li><%= link_to "Calendar", calendar_schedules_path %></li>
					<li><%= link_to "Time Spent", user_path(current_user) %></li>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Account <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						  <li><%= link_to "Projects", projects_path %></li>
						  <% if current_user.admin? %>
						  <li><%= link_to "Users", users_path %></li>
						  <% end %>
						  <li><a href="#" data-toggle="modal" data-target="#Settings">Settings</a></li>
						  <li class="divider"></li>
						  <li><%= link_to "Sign out", signout_path %></li>
					</ul></li>
				<% end %>
			</ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<div class="modal fade" id="Settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="SettingsLabel">Settings</h4></div>
        
      
      <% if current_user %>
        <div class="modal-body" style="text-align:center">
        <%= form_for(current_user, role: 'form') do |f| %>

          <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, type: "name", class: "form-control" %></div>

          <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, type: "email", class: "form-control"  %></div>
          <div class="form-group">
                <%= f.label :time_zone %>
                <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, class: "form-control"  %></div>
          <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, type: "password", class: "form-control"  %></div>

          <div class="form-group">
                <%= f.label :password_confirmation, "Confirm Password" %>
                <%= f.password_field :password_confirmation, type: "password", class: "form-control"  %></div>

        </div>
      <div class="modal-footer">

      <%= f.submit "Save changes", class: "btn btn-default" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
    <% end %>
          
<% end %>

    </div>
  </div>
</div>
