<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title : "Time Saver" %></title>
  <%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="apple-touch-icon" href="<%= image_path 'iTunesArtwork@2x.png' %>" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
</head>
<body>
<%= render "layouts/navbar" %>
<div class="container container-fluid">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<% if !notice.blank? || !alert.blank? %>
<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>
=======
=======
>>>>>>> parent of 4b12111... added social login
=======
>>>>>>> parent of 4b12111... added social login
=======
>>>>>>> parent of 4b12111... added social login
=======
>>>>>>> parent of 4b12111... added social login
<div id="test_display">

</div>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissable"><%= value %></div>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of 4b12111... added social login
=======
>>>>>>> parent of 4b12111... added social login
=======
>>>>>>> parent of 4b12111... added social login
=======
>>>>>>> parent of 4b12111... added social login
=======
>>>>>>> parent of 4b12111... added social login
<% end %>
<%= yield %>

<% if signed_in? %>
  <%= content_tag "div", id: "hours_popup", data: {day: Schedule.total_time("day",current_user), week: Schedule.total_time("week",current_user), working: current_user.working?}, class: "hidden1 btn btn-default" do %>
  <h3 style="margin-top:5px;">Hours</h3>
  <div id="hours" style="display:none">Today: <span id="hours_day"><%= (Schedule.total_time("day",current_user)/3600).round(2) %></span><br>
    				This Week:<span id="hours_week"><%= (Schedule.total_time("week",current_user)/3600).round(2) %></span>
   </div>
  <% end %>

<% end %>
</div>
</body>
</html>

