<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title : "Scheduling" %></title>
  <%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="apple-touch-icon" href="<%= image_path 'iTunesArtwork@2x.png' %>" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner" style="z-index:1;vertical-align:bottom;max-height:25px;" id="nav">
		<%= render "layouts/navbar", width: "thin", show_logo: false %>
	</div>
</header>
<div class="container">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>
<% if signed_in? %>
<div id="hours_popup" style="width:150px;z-index:50;" class="hidden">
	  <h3>Hours</h3>
	  		<div id="hours" style="display:none">Today: <span id="hours_day" style="padding:11px;"><%= (Project.total_time("day",current_user)/3600).round(2) %></span><br>
  				This Week:<span id="hours_week" style="padding:11px;"><%= (Project.total_time("week",current_user)/3600).round(2) %></span>
  				</div>
</div>
<script>
$(function() {
if ('<%= current_user.working? %>' == 'true') {
  	var i_day = parseFloat('<%= Project.total_time("day",current_user) %>');
  	var i_week = parseFloat('<%= Project.total_time("week",current_user) %>');
  	var start = new Date;
  	var timer1 = setInterval(function() { $('#hours_day').text( Math.round(((new Date - start)/1000 + i_day)/36)/100 ) }, 1000	)
  	var timer2 = setInterval(function() { $('#hours_week').text( Math.round(((new Date - start)/1000 + i_week)/36)/100 ) }, 1000	)
}
navresize();
});
$( "div#hours_popup" ).click(function() {
 if ($("div#hours_popup").hasClass("hidden")) {
		$( "div#hours" ).slideToggle("slow");
		$("div#hours_popup").css("bottom","0px");
		$("div#hours_popup").removeClass("hidden")
		$("div#hours_popup").addClass("shown")
	} else {
		$( "div#hours" ).slideToggle("slow");
		$("div#hours_popup").css("bottom","0px");
		$("div#hours_popup").addClass("hidden")
		$("div#hours_popup").removeClass("shown")
	}
});
$(window).resize(function() {
navresize();
});
function navresize(){
  if ($(window).width() < 680 && $(window).width() > 360) {
		$('#nav').html('<%= escape_javascript render "layouts/navbar", width: "thin", show_logo: true %>')
	} else if ($(window).width() <= 360) {
		$('#nav').html('<%= escape_javascript render "layouts/navbar", width: "thin", show_logo: false %>')
	} else {
		$('#nav').html('<%= escape_javascript render "layouts/navbar", width: "wide", show_logo: true %>')
	}
}
</script>
</script>
<% end %>
</div>
</body>
</html>

