<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title : "Scheduling" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner" style="max-height:41px;overflow:hidden">
      <%= link_to "Time Saver", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Edit Schedule", schedules_path %></li>
          <li><%= link_to "Calendar", calendar_schedules_path %></li>
          <li><%= link_to "Time Spent", projects_path %></li>
        </ul>
      </nav>
  </div>
</header>
<div class="container">
<%= yield %>
</div>
</body>
</html>
